<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.application" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="Flask" path="*" verb="*" modules="FastCgiModule"
          scriptProcessor="C:\\Python38\\python.exe|C:\\Python38\\Scripts\\wfastcgi.py" />
    </handlers>
  </system.webServer>
</configuration>
